.app-req-item {
    margin-top: 20px;
    background-color: rgb(107, 107, 107);
    display: flex;
    flex-direction: row;
}
.content{
    width: 70%;
    padding: 10px;
}
.content > p {
    color: white;
    min-height: 55px;
    width: 100%;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}
.u-btn {
    width: 15%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(0, 217, 255);
    color: black;
}