.app-nav {
    background-color:rgb(230, 230, 230);
    padding: 10px;
    text-align: left;
    border: 2px solid rgb(230, 230, 230);
    border-bottom-color: rgb(199, 199, 199);
}
.nav-item {
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin-right: 2px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    min-width: 150px;
    
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}