.app-requests{
    text-align: left;
    padding: 5vh;
    min-height: 100vh;
}
.a-app-head {
    height: 5vh;
    margin-left: -5vh;
    margin-right: -5vh;
    padding-left: 5vh;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.app-body {
    height: 80vh;
}

.section {
    min-height: 60vh;
    background-color: rgb(165, 165, 165);
    padding: 5vh;
}

.bg-green {
    background-color: rgba(0, 150, 0, 0.596);
}

.bg-red {
    background-color: rgba(151, 0, 0, 0.596);
}