.App {
  height: 100vh;
  width: 100vw;
}
.flex {
  display: flex;
  flex-direction: row;
}
.app-box{
  background-color: #e9e9e941;
  width: 100%;
  height: 60vh;
  padding-top: 10vh;

}
.app-box > div {
  width: 50%;
}
.app-admin-logo {
  padding: 25px;
  height: 110px;
  width: 110px;
}
.app-user-logo {
  padding: 25px;
  height: 80px;
   width: 90px;
}

.app-container {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.app-container > .head {
  font-weight: 300;
  color: red;
}
.app-container > .link {
  display: block;
  text-align: center;
  padding: 10px;
  width: 100px;
  border: 2px solid black;
  background-color: #133561;
  box-shadow: 2px 2px 6px rgb(117, 117, 117);
}
.app-container > .link:hover {
  cursor: pointer;
}

.app-container > .link  > a {
  color: white;
  text-decoration: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #133561;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.App-header > p {
  font-size: calc(10px + 2vmin);
  color: white;
  letter-spacing: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  transform: scale(2.1, 2.5);
}
.app-foot{
  background-color: rgba(0, 0, 0, 0.568);
  text-align: center;
  justify-content: center;
  height: 25vh;
  color: white;
}
.App-body {
  min-height: 85vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.623), rgba(52, 194, 230, 0.466), rgba(0, 0, 0, 0.753));;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
